
*/.svn
.svn*
*.svn/*

*.log

bin/part_opt/log/out1.txt

*.exe

*.lib

*.mexw32

*.mexw64
*CMakeFiles*
*.dir

*.filters

*.vcxproj

*.sdf

*.sln

*.suo

*.dll
Release

projects/part_opt/cmake_install.cmake

projects/part_opt/CMakeCache.txt

*.lastbuildstate

*.tlog

*.pdb

*.ilk

*.exp

*.opensdf
