<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>exttype.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>maxflow_BK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>part_opt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>test_part_opt_opengm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test_random.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0D6471B9CC7045D58B8910E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>177BA98E38DC4F769E0ECDA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FB9F67B93CA4064A5B857F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>834D3F1736264ABC9DEFB496</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D315D269177446DA9B1ECA28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D84C19D2CFB64DC09396402A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE9B18EFA39747D7B82BC642</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
